body {
    margin: 0;
    padding: 0;
    background-color: pink;
}

button {
    cursor: pointer;
    outline: none;
}

input {
    outline: none;
}

input:focus {
    background-color: rgba( 205, 241, 255, 1);
}

.hidden {
    display: none;
}

#main {
  height: 100vh;
  display: flex;
  flex-flow: column;
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: linear-gradient(to bottom, rgba(69,83,104,0.5) 0%,rgba(33,62,94,0.5) 39%,rgba(14,42,73,0.5) 53%,rgba(17,25,35,0.5) 100%);
    opacity: 1;
}

header h1 {
    font-size: 45px;
    text-align: left;
    font-family:'Grand Hotel', cursive;
    color: #fcfcee;
    margin: 0 0 0 60px;
    text-shadow:
        0 1px 0 #777, 
        0 2px 0 #676767, 
        0 3px 0 #666, 
        0 4px 0 #565656, 
        0 6px 1px rgba(0, 0, 0, .1), 
        0 0 5px rgba(0, 0, 0, .1), 
        0 1px 3px rgba(0, 0, 0, .3), 
        0 3px 5px rgba(0, 0, 0, .2), 
        0 5px 10px rgba(0, 0, 0, .25), 
        0 10px 10px rgba(0, 0, 0, .2), 
        0 20px 20px rgba(0, 0, 0, .15);
}

header h1 a {
    text-decoration: none;
    color: #fcfcee;
}

header h1 a:visited {
    color: #fcfcee;
}

header input {
    border-radius: 100px;
    width: 30%;
    padding-left: 10px;
}

#menu {
    background: none;
    border: none;
    color: #fcfcee;
    font-size: 2em;
    margin-right: 10px;
}

#wrapper {
  flex: 2;
  display: flex;
}

#friends {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    min-width: 400px;
    background-color: rgba(17, 25, 35, 0.5);
}

#friends-filter {
    padding-left: 20px;
}

#friends-filter input {
    width: 85%;
    border-radius: 100px;
    padding-left: 10px;
}

#friends-list {
    overflow-y: scroll;
    margin-top: 30px;
}

.expanded #friends-list {
    display: flex;
    flex: 1;
    flex-wrap: wrap;
}

.friend {
    margin-bottom: 8px;
    margin: 0 8px 8px 0;
    font-family: sans-serif;
    color: #57cbde;
    font-size: 14px;
    height: 46px;
    background-color: rgba( 84, 133, 183, 0.05);
    border-radius: 4px;
    cursor: pointer;
    transition: background-color 0.5s ease;
    border: 1px solid transparent;
    position: relative;
}

#chat {
  background-color: rgba(17, 25, 35, 0.1);
  min-height: 200px;
  padding-top: 10px;
}

#chatwindow {
    height: 175px;
    background-color: #fcfcee;
    opacity: .85;
    margin: 0 auto;
    width: 95%;
    overflow-y: scroll;
}

#friends-expand {
  min-width: 25px;
  display: flex;
  justify-content: center;
  flex-direction: column;
}

#friends-expand button {
    height: 100px;
    width: 25px;
    background: rgba(17, 25, 35, 0.5);
    border: none;
    color: white;
    font-size: 18px;
    text-shadow: 2px 2px black;
}

#friends.expanded {
    min-width: 85%;
    max-width: 85%;
}

#friends.expanded .friend {
    width: 380px;
}

#games {
  display: flex;
  flex-direction: row;
  align-content: flex-start;
  flex-wrap: wrap;
  flex-grow: 1;
  overflow-y: scroll;
  padding: 0 5px;
}

#games h2 {
    font-size: 45px;
    width: 85%;
    font-family:'Grand Hotel', cursive;
    text-align: center;
    color: #fcfcee;
    margin: 0 0 0 60px;
    text-shadow:
        0 1px 0 #777, 
        0 2px 0 #676767, 
        0 3px 0 #666, 
        0 4px 0 #565656, 
        0 6px 1px rgba(0, 0, 0, .1), 
        0 0 5px rgba(0, 0, 0, .1), 
        0 1px 3px rgba(0, 0, 0, .3), 
        0 3px 5px rgba(0, 0, 0, .2), 
        0 5px 10px rgba(0, 0, 0, .25), 
        0 10px 10px rgba(0, 0, 0, .2), 
        0 20px 20px rgba(0, 0, 0, .15);
}

.game {
    width: 184px;
    height: 69px;
    margin: 5px;
    flex-basis: 1;
}

.game img:hover {
    transition: box-shadow 0.5s ease;
    box-shadow: 0px 0px 24px 0px rgba(255,255,153,0.25);
}

.game img {
    border: 1px solid transparent;
    border-radius: 8px;
}

.mainpage {
    position: fixed;
    top: 0; right: 0; bottom: 0; left: 0;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    height: 100%;
}
.prompt {
    width: 50%;
}

.maininp {
    width:80%;
    display: flex;
    margin: 0 auto;  
}

.maininp input {
    flex: 9;
    height: 15px;
    padding: 10px;
    border: solid 1px #fff;
    box-shadow: inset 1px 1px 2px 0 #707070;
    border-radius: 10px 0 0 10px;
    opacity: 0.75;
}

.maininp button {
    flex: 1;
    border-radius: 0 10px 10px 0;
    border: solid 1px #777;
    background-color: #002f4b;
    opacity: 0.75;
    color: #f0efd2;
    font-size: 2vw;
    line-height: 15px;
}

.mainlogo {
    font-size: 8.5vw;
    text-align: center;
    font-family:'Grand Hotel', cursive;
    color: #fcfcee;
    margin: 0 0 15px 0;
    text-shadow:
        0 1px 0 #777, 
        0 2px 0 #676767, 
        0 3px 0 #666, 
        0 4px 0 #565656, 
        0 6px 1px rgba(0, 0, 0, .1), 
        0 0 5px rgba(0, 0, 0, .1), 
        0 1px 3px rgba(0, 0, 0, .3), 
        0 3px 5px rgba(0, 0, 0, .2), 
        0 5px 10px rgba(0, 0, 0, .25), 
        0 10px 10px rgba(0, 0, 0, .2), 
        0 20px 20px rgba(0, 0, 0, .15);
}

.calltoaction {
    text-align: center;
    font-family:'Oswald', sans-serif;
    font-size: 2.3vw;
    letter-spacing: 0.1em;
    text-transform: uppercase;
    color: #fcfcee;
        text-shadow:
        0 1px 0 #777, 
        0 2px 0 #676767, 
        0 3px 0 #666, 
        0 4px 0 #565656, 
        0 6px 1px rgba(0, 0, 0, .1), 
        0 0 5px rgba(0, 0, 0, .1), 
        0 1px 3px rgba(0, 0, 0, .3), 
        0 3px 5px rgba(0, 0, 0, .2), 
        0 5px 10px rgba(0, 0, 0, .25), 
        0 10px 10px rgba(0, 0, 0, .2), 
        0 20px 20px rgba(0, 0, 0, .15);
    margin: 2vw 0 1vw 0;
}

.info {
    font-family:'Oswald', sans-serif;
    font-size: 20px;
    color: #fcfcee;
    width: 73%;
    margin: 0 auto;
}

.info a {
    text-decoration: underline;
    cursor: pointer;
}
  
#helpbox {
    background-color: #002f4b;
    opacity: 0.75;
    margin: auto;
    color: white;
    border: 2px solid black;
    border-radius: 24px;
    padding: 12px;
    overflow: hidden;
}

#helpbox p {
    font-family:'Oswald', sans-serif;
    margin: 0 0 10px 0;
    text-align: center;
    font-size: 2vw;
}

#helpbox li {
    margin-bottom: 10px;
}

#helpbox li a {
    font-family: monospace;
    border-bottom: 1px dashed white;
    cursor: pointer;
}

#colorbg {
    height: 100%;
    width: 100%;
    position: fixed;
    top: 0; right: 0; bottom: 0; left: 0;
    background-image: linear-gradient(to bottom right, #080E3B, #AA3939);
    display: block;
    z-index: -99;
    opacity: 0.75;
    -moz-box-shadow: inset 0px 0px 70px 29px rgba(0,0,0,0.4);
    box-shadow: inset 0px 0px 70px 29px rgba(0,0,0,0.4);
}

#video-bg {
    position: fixed;
    top: 0; right: 0; bottom: 0; left: 0;
    overflow: hidden;
    z-index: -100;
    background-color: #555;
}

#video-bg > video {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    -webkit-filter:blur(4px) saturate(.1) brightness(.75);
    filter:blur(4px) saturate(.1) brightness(0.75);
}
/* 1. No object-fit support: */
@media (min-aspect-ratio: 16/9) {
    #video-bg > video { height: 300%; top: -100%; }
}
@media (max-aspect-ratio: 16/9) {
    #video-bg > video { width: 300%; left: -100%; }
}
/* 2. If supporting object-fit, overriding (1): */
@supports (object-fit: cover) {
    #video-bg > video {
    top: 0; left: 0;
    width: 100%; height: 100%;
    object-fit: cover;
    }
}

.loading h3 {
    float: left;
    font-family:'Oswald', sans-serif;
    font-size: 1.7vw;
    letter-spacing: 0.1em;
    text-transform: uppercase;
    margin: 0;
    color: #fcfcee;
    text-shadow:
        0 1px 0 #777, 
        0 2px 0 #676767, 
        0 3px 0 #666, 
        0 4px 0 #565656, 
        0 6px 1px rgba(0, 0, 0, .1), 
        0 0 5px rgba(0, 0, 0, .1), 
        0 1px 3px rgba(0, 0, 0, .3), 
        0 3px 5px rgba(0, 0, 0, .2), 
        0 5px 10px rgba(0, 0, 0, .25), 
        0 10px 10px rgba(0, 0, 0, .2), 
        0 20px 20px rgba(0, 0, 0, .15);
}

.titlecard {
    width: 100%;
    color: #fcfcee;
    margin: -20px 0 10px 0;
    font-family:'Oswald', sans-serif;
    font-size: 1.7vw;
    letter-spacing: 0.1em;
    text-transform: uppercase;
    text-shadow:
        0 1px 0 #777, 
        0 2px 0 #676767, 
        0 3px 0 #666, 
        0 4px 0 #565656, 
        0 6px 1px rgba(0, 0, 0, .1), 
        0 0 5px rgba(0, 0, 0, .1), 
        0 1px 3px rgba(0, 0, 0, .3), 
        0 3px 5px rgba(0, 0, 0, .2), 
        0 5px 10px rgba(0, 0, 0, .25), 
        0 10px 10px rgba(0, 0, 0, .2), 
        0 20px 20px rgba(0, 0, 0, .15);
}

.notmp {
    margin: 30px 0 10px 0;
}

.games .loading {
    margin-top: 50px;
}

.loading img {
    float: left;
    height: 1.7vw;
    margin: 0.5vw;
    margin-right: 1.3vw;
}

.loading {
    margin: auto;
}


.friend:hover {
    background-color: rgba( 117, 204, 255, 0.2);
}

.friend.selected {
    background-color: rgba(77, 186, 150, 0.4);
}

.friend.selected:hover {
    background-color: rgba(171, 235, 214, 0.4);
}

.friend-text {
    padding: 7px 0 0 0;
}

.friend p {
    margin: 0;
}

.friend-ava {
    vertical-align: middle;
    margin-right: 8px;
    float: left;
    border-width: 2px;
    border-style: solid;
}

.friend .friend-loading {
    position: absolute;
    right: 0;
    top: 0;
    width: 38px;
    height: 38px;
    padding: 4px;
}

.ingame {
    color: #8bb43a;
}
.ingame img {
    border-color: #8bb43a;
}

.online {
    color: #519fbe;
}
.online img {
    border-color: #519fbe;
}

.offline {
    color: #898989;
}
.offline img {
    border-color: #898989;
}

.scrollable{

}
.scrollable:hover{
    
}

.scrollable::-webkit-scrollbar-track
{    
    visibility:hidden;
}
.scrollable:hover::-webkit-scrollbar-track{   
    visibility:visible;
}

.scrollable::-webkit-scrollbar
{    
    width: 5px;
    visibility:hidden;
}
.scrollable:hover::-webkit-scrollbar
{    
    width: 5px;     
    visibility:visible;
}

.scrollable::-webkit-scrollbar-thumb
{   
    visibility:hidden;
   
}
.scrollable:hover::-webkit-scrollbar-thumb
{
    border-radius: 10px;
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,.3);
    visibility:visible; 
}

#games:hover::-webkit-scrollbar-thumb {
    background-color: #D46A6A;
}

#friends-list:hover::-webkit-scrollbar-thumb {
    background-color: #0A5A78;
}

.progressbar {
    height: 20px;
    width: 100%;
}

.progressbar > div {
    background: #46C224;
    height: 20px;
    width: 0;
    margin: auto;
}

/*
@media screen and (max-device-width: 800px) {
  html { background: url(img/ibbobb.png) #000 no-repeat center center fixed; }
  #video-bg { display: none; }
}

@media screen and (max-width: 900px) {
  .prompt {
    width: 85%;
  }
  
  .mainlogo {
    font-size: 15vw;
  }
  
  .calltoaction {
    font-size: 4vw;
  }
  
  .maininp button {
    font-size: 3.5vw;
  }
}

/* Prevent tbe button icon from growing too big */
/*
@media screen and (min-width: 1600px) {
  .maininp button {
    font-size: 2em;
  }
  
}
*/
