.mainpage {
    position: fixed;
    top: 0; right: 0; bottom: 0; left: 0;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    height: 100%;
}
.prompt {
    width: 50%;
}

.maininp {
  width:80%;
  display: flex;
  margin: 0 auto;  
}

.maininp input {
    flex: 9;
}

.mainlogo {
    font-size: 8.5vw;
    text-align: center;
    font-family:'Grand Hotel', cursive;
    color: #fcfcee;
    margin: 0 0 15px 0;
}

.calltoaction {
    text-align: center;
    font-family:'Oswald', sans-serif;
    font-size: 2.3vw;
    letter-spacing: 0.1em;
    text-transform: uppercase;
    color: #fcfcee;
    margin-top: 2vw;
}

#colorbg {
  height: 100%;
  width: 100%;
  position: fixed;
  top: 0; right: 0; bottom: 0; left: 0;
  background-image: linear-gradient(to bottom right, #255C69, #AA7139);
  display: block;
  z-index: -99;
}

.friends {
    background-color: #161616;
    width: 25%;
    padding: 5px;
}

.friend {
    margin-bottom: 8px;
    font-family: sans-serif;
    color: #519fbe;
    font-size: 14px;
}

.friend-ava {
    vertical-align: middle;
    margin-right: 5px;
}

.ingame {
    border: 2px solid #8bb43a;
}

.online {
    border: 2px solid #519fbe;
}

.offline {
    border: 2px solid #
}