
<div class="friends" ng-controller="FriendsCtrl as fc">

    <div id="friends-filter">
        <input placeholder="-=360] N0 SC0P3R=-" type="text" ng-model="fc.filter" />
    </div>
    <div id="loading">
    <h3>Loading...</h3>
        <video ng-src="vids/loading.mp4" autoplay loop></video>
    </div>

    <div ng-repeat="f in fc.friends|filter:{name:fc.filter}" class="friend">
        <img src="{{f.avatar}}" width="42" height="42" class="friend-ava online"/>
        <div class="friend-text">
            <p class="friend-name">{{f.name}}</p>
            <p class="friend-status"><i>{{f.online}}</i></p>
        </div>
    </div>
</div>
