                <div id="friends-filter" class="">
                    <input id="filterInput" placeholder="John" type="text" ng-model="fc.filter" />
                    <button id="clearfilter" ng-click="fc.clearFilter()">✖</button>
                    <button ng-show="fc.getNumFriendsSelected()>0" id="deselect" ng-click="fc.clearSelection()"><img title="Deselect all friends" src="/img/trash.svg" alt="trash" height="24"></button>
                </div>
                <div class="loading" ng-show="fc.loadingFriends">
                    <img src="img/spinner.svg" alt="loading">
                    <h3>Loading Friends...</h3>
                </div>
                <div id="friends-list" class="scrollable">
                    <div ng-repeat="f in fc.friends|filter:{name:fc.filter}" ng-class="{friend:1, ingame:f.isIngame, 'online':f.isOnline, 'offline':f.isOffline, selected:f.selected}" ng-click="fc.selectFriend(f)" >
                        <img src="{{f.avatar}}" width="42" height="42" class="friend-ava "/>
                        <div class="friend-text">
                            <p class="friend-name">{{f.name}}</p>
                            <p class="friend-status"><i>{{f.online}}</i></p>
                            
                            <p class="friend-gameserror" ng-if="f.gamesError" title="This profile may be private or possibly Steam is temporarily unavailable."></p>
                            <p class="friend-loading" ng-if="f.gamesPromise && !f.games"><img src="img/spinner.svg" alt="loading"></p>
                        </div>
                    </div>
                </div>