    <div id="main">
        <header>
            <h1><a href="#/">Friendly Games</a></h1>
            <div class="maininp" id="searchThingy">
            <input type="text" placeholder="http://steamcommunity.com/id/kipke/" ng-model="p.steamId" ng-keydown="$event.keyCode==13&&p.switchProfile(p.steamId)" />
            <button ng-click="p.calcSteamId()">➜</button>
            </div>
            <button id="menu" ng-click="p.showNav = !p.showNav">☰</button>
            <nav ng-show="p.showNav">
                <ul>
                    <li ng-click="p.showInfoPage('about')">What's This?
                    <li ng-click="p.showInfoPage('team')">Team
                    <li ng-click="p.showInfoPage('devlog')">Development Log
                    <li ng-click="p.showInfoPage('credits')">Credits
                </ul>
            </nav>
            <div id="newprogress"></div>
        </header>

        <div id="wrapper">
            <section id="friends" class="scrollable" ng-class="{expanded: p.friends.flyoutExpanded}" ng-controller="FriendsCtrl as fc" ng-include="'partials/friends.html'"></section>
            <div id="friends-expand">
                <button ng-click="p.friends.toggleFlyout()">
                    <span ng-show="!p.friends.flyoutExpanded">▶</span>
                    <span ng-show="p.friends.flyoutExpanded">◀</span>
                </button>
            </div>
            <section id="games" class="scrollable" ng-controller="GamesCtrl as gc" ng-include="'partials/games.html'"></section>
        </div>
    </div>
    
    <div class="modal-wrapper" ng-show="p.curInfoPage">
        <div id="information">
            <div class="" ng-show="p.curInfoPage == 'about'">
                <h2>What is this?</h2>
                <p>If you've ever tried to choose a game with a group of friends on Steam, then you may be able to relate to our frustration. It usually goes something like this:</p>
                <div class="dialog">
                    <p><span class="john">John:</span>Let's all play a game together!</p>
                    <p><span class="björn">Björn:</span>Okay, how about Space Engineers?</p>
                    <p><span class="gareth">Gareth:</span>I don't have that game. Let's play Terraria instead.</p>
                    <p><span class="john">John:</span>I'm waiting for that to go on sale before I buy it.</p>
                    <p><span class="björn">Björn:</span>So what multiplayer games do we all own then?</p>
                    <p><span class="gareth">Gareth:</span>I don't know, I wish Steam had the ability to tell us!</p>
                </div>
                <p>Alleviate your troubles with Friendly Games. Our app allows you to enter a Steam profile and select a set of your friends so that you can instantly determine which multiplayer games you have in common with them.</p>
            </div>
            <div ng-show="p.curInfoPage == 'team'">
                <h2>Our Team</h2>
                <p>This web application was made in 48 hours during Static Showdown 2015 by Gareth, Björn, and John.</p>
                <div class="team">
                    <a href="/#/id/76561197961558956"><img src="/img/gareth.png" width="128" height="128" alt="picture of Gareth" title="Gareth"></a>
                    <a href="/#/id/76561198001860563"><img src="/img/bjorn.png" width="128" height="128" alt="picture of Björn" title="Björn"></a>
                    <a href="/#/id/76561197961662746"><img src="/img/john.png" width="128" height="128" alt="picture of John" title="John"></a>
                </div>
                <p>If you'd like to chat with us, we've got a room set up on <a href="https://gitter.im/staticshowdown/kipcast">Gitter</a>!</p>
                
            </div>
            <div ng-show="p.curInfoPage == 'credits'">
                <h2>Credits</h2>
                <h3>Resources</h3>
                <h3>Programs</h3>
            </div>
            <div ng-show="p.curInfoPage == 'devlog'">
                <h2>Development Log</h2>
                <table>
                    <tbody>
                        <tr><td>Sat. 00:09:42</td><td>We have initiated our wonderful static web application. Our prospects are looking great.</td></tr>
                        <tr><td>Sat. 00:18:42</td><td>Björn has already begun playing games on his own instead of programming. Typical Björn.</td></tr>
                        <tr><td>Sat. 00:56:03</td><td>Gareth is heavily distracted by Wikipedia. Currently reading about the Queen of England's title and honorary degrees. Not sure how this will contribute to our static web app.</td></tr>
                        <tr><td>Sat. 01:01:34</td><td>Gareth is now distracted by http://hackertyper.net. Not sure if he thinks this counts as productive behavior.</td></tr>
                        <tr><td>Sat. 01:13:27</td><td>Björn wants to go to bed after less than two hours of hackathoning.</td></tr>
                        <tr><td>Sat. 01:16:55</td><td>Trailblazer entered our Teamspeak channel.</td></tr>
                        <tr><td>Sat. 01:17:59</td><td>Trailblazer left our Teamspeak channel. Everyone was rude to him except Gareth.</td></tr>
                        <tr><td>Sat. 01:28:17</td><td>Björn has gone to bed</td></tr>
                        <tr><td>Sat. 01:52:57</td><td>Gareth suggests we all play Curve Fever instead of do productive work.</td></tr>
                        <tr><td>Sat. 01:59:13</td><td>John busts open the hackasnacks (Roasted Salted Almonds)</td></tr>
                        <tr><td>Sat. 03:47:12</td><td>Josh starts to criticise our work. Gareth just barely refrains from getting in his car and driving over to pay Josh a visit.</td></tr>
                        <tr><td>Sat. 05:29:23</td><td>Gareth signs off for tonight, content with knowing that he is carrying the team.</td></tr>
                        <tr><td>Sat. 10:13:11</td><td>Björn wakes up and is disappointed by the fact that everyone else is asleep.</td></tr>
                        <tr><td>Sat. 11:23:19</td><td>Björn entertains Gareth with soundclips of his sister singing "Do you want to build a snowman?". She missed a line. John is sleeping.</td></tr>
                        <tr><td>Sat. 11:52:07</td><td>John wakes up and checks the commit log. He is puzzled that the only updated file is this very one. Surely the Europeans must have loads of uncommitted code then, after all they are 5/6 hours ahead.</td></tr>
                        <tr><td>Sat. 12:33:45</td><td>It is snowing at John and Björns house. John makes a great joke: "What is this, Static Showdown or Static _SNOWDOWN_??". High fives were exchanged. Gareth was sour that it was not snowing at his house.</td></tr>
                        <tr><td>Sun. 0:23:46</td><td>Björn showed Gareth a cat GIF, Gareth was overjoyed and needed some 'alone time'.</td></tr>
                        <tr><td>Sun. 0:54:05</td><td>Gareth is distracted researching ninja turtles, all other team members sigh...</td></tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
