    <div id="main">
        <header>
            <h1><a href="#/">Friendly Games</a></h1>
            <input type="text" placeholder="http://steamcommunity.com/id/kipke/" ng-model="p.steamId" ng-keydown="$event.keyCode==13&&p.switchProfile(p.steamId)" />
            <button id="menu" ng-click="p.showNav = !p.showNav">☰</button>
            <nav ng-show="p.showNav">
                <ul>
                    <li ng-click="p.showInfoPage('about')">What's This?
                    <li ng-click="p.showInfoPage('team')">Team
                    <li ng-click="p.showInfoPage('devlog')">Development log
                    <li ng-click="p.showInfoPage('credits')">Credits
                </ul>
            </nav>
        </header>

        <div id="wrapper">
            <section id="friends" class="scrollable" ng-class="{expanded: p.friends.flyoutExpanded}" ng-controller="FriendsCtrl as fc" ng-include="'partials/friends.html'"></section>
            <div id="friends-expand">
                <button ng-click="p.friends.toggleFlyout()">
                    <span ng-show="!p.friends.flyoutExpanded">▶</span>
                    <span ng-show="p.friends.flyoutExpanded">◀</span>
                </button>
            </div>
            <section id="games" class="scrollable" ng-controller="GamesCtrl as gc" ng-include="'partials/games.html'"></section>
        </div>
    </div>