    <div id="main">
        <header>
            <h1><a href="/">Friendly Games</a></h1>
            <input type="text" placeholder="http://steamcommunity.com/id/kipke/" ng-model="'http://steamcommunity.com/profiles/' + p.steamId"/>
            <span>X</span>
        </header>
        <div id="wrapper">
            <div id="friends" class="scrollable" ng-class="{expanded: fc.isExpanded}" ng-controller="FriendsCtrl as fc" ng-include="'partials/friends.html'"></div>
            <div id="friends-expand">
                <button ng-click="p.toggleFriends()">></button>
            </div>
            <div id="games" class="scrollable" ng-controller="GamesCtrl as gc" ng-include="'partials/games.html'"></div>
        </div>
    </div>