    <div ng-if="p.loadingFriends">LOADING FRIENDS ...</div>
    
    <div class="mainpage">
        <h1 class="mainlogo">Friendly Games</h1>
        <input type="text" ng-model="p.steamIdInput" ng-keydown="$event.keyCode==13&&p.calcSteamId()" />
        <button id="process" ng-click="p.calcSteamId()">➜</button>
        <p class="calltoaction">Enter your Steam account ID!</p>
        <p>Examples:</p>
        <ul>
            <li>STEAM_0:0:646614</li>
            <li>76561197961662746</li>
            <li>http://steamcommunity.com/profiles/76561198001860563/</li>
        </ul>
    </div>

    <div id="colorbg"></div>
