    <div ng-if="p.loadingFriends">LOADING FRIENDS ...</div>
    
    <div class="mainpage">
        <h1 class="mainlogo">Friendly Games</h1>
        <input type="text" ng-model="p.steamIdInput" ng-keydown="$event.keyCode==13&&p.calcSteamId()" />
        <button id="process" ng-click="p.calcSteamId()">➜</button>
        <p class="calltoaction">Enter your Steam account ID!</p>
        <p>Examples:</p>
        <ul>
            <li>STEAM_0:0:646614</li>
            <li>76561197961662746</li>
            <li>http://steamcommunity.com/profiles/76561198001860563/</li>
        </ul>
    <strong>SteamID64: {{p.steamId}}</strong>
    </div>

    <div class="friends">
        <div ng-repeat="f in p.friends" class="friend">
            <img src="{{f.avatar}}" width="42" height="42" class="friend-ava online"/>
            <span class="friend-name">{{f.name}}</span>
            <span><i>{{f.online}}</i></span>
        </div>
    </div>
    
    <div class="games">
        <div ng-repeat="g in p.games" class="game">
            <img src="{{g.logo}}" width="184" height="69" class="game"/>
            <span class="game-name">{{g.name}}</span>
        </div>
    </div>
    <div id="colorbg"></div>
