    <div ng-if="p.loadingFriends">LOADING FRIENDS ...</div>
    
    <div class="mainpage">
        <div class="prompt">
            <h1 class="mainlogo">Friendly Games</h1>
            <div class="maininp">
                <input type="text" placeholder="http://steamcommunity.com/profiles/76561198001860563/" ng-model="p.steamIdInput" ng-keydown="$event.keyCode==13&&p.calcSteamId()" />
                <button ng-click="p.calcSteamId()">➜</button>
            </div>
            <p class="calltoaction">Enter your Steam account ID!</p>
            <p>Examples:</p>
            <ul>
                <li>STEAM_0:0:646614</li>
                <li>76561197961662746</li>
                <li>http://steamcommunity.com/profiles/76561198001860563/</li>
            </ul>
        </div>
    </div>

    <div id="colorbg"></div>
