    <div ng-if="p.loadingFriends">LOADING FRIENDS ...</div>
    
    <div class="mainpage">
        <div class="prompt">
            <h1 class="mainlogo">Friendly Games</h1>
            <div class="maininp" id="maininp">
                <input type="text" placeholder="http://steamcommunity.com/id/kipke/" ng-model="p.steamIdInput" ng-keydown="$event.keyCode==13&&p.calcSteamId()" />
                <button ng-click="p.calcSteamId()">➜</button>
            </div>
            <p class="error" ng-repeat="e in p.errors">{{e}}</p>
            <p class="calltoaction">Enter your Steam profile!</p>
            <p class="info">Struggling to pick which game to play with a group of friends? We're here to help. Friendly Games will analyze you and your friends' Steam games to let you know which support multiplayer or co-op. Need a demo? <a ng-click="p.example('http://steamcommunity.com/id/kipke/')">Click here</a>!</p>
        </div>
        <div id="vendors">
            <a href="http://steampowered.com"><img id="vendor-steam" src="/img/powered-by-steam.svg" alt="Powered by Steam" width="150"></a>
            <a href="http://www.google.com/chrome/"><img id="vendor-chrome" src="/img/please-use-chrome.svg" alt="Please use Chrome" width="150"></a>
        </div>
    </div>

